# Server Configuration
PORT=3000
JWT_SECRET=votre_phrase_secrete_super_longue_et_aleatoire
NODE_ENV=production

# Database Configuration (PostgreSQL)
# Format: postgres://username:password@host:port/database
# Sur Render, cette variable est souvent fournie automatiquement.
DATABASE_URL=postgres://user:password@localhost:5432/pictochatter

# Client Configuration
CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000
